.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.item{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 700px;
  margin: 5px;
}
.item label{
    width: 100px;
}

.formulario button {
    margin-top: 15px;
}

@media screen and (max-width: 900px) {
    .item{
        width: 400px;
       
      }
      .item label{
          width: 80px;
      }
}
@media screen and (max-width: 650px) {
    .item{
        width: 300px;
        flex-wrap: wrap;
      }
      .item label{
          max-width: 80px;
      }
}