.main{
    margin: 20px;
    background-color: #d4d4d8;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    overflow-y: scroll;
    min-height :500px ;

}
.fa-10x{
    background-color: white;
}
@media screen and (max-width : 520px){
    .main{
        margin: 10px auto;
        height: auto;
        width: 100%;
        padding: 10px;
    }
}
