.tabela{
    background-color: white;
    overflow-x: scroll;
    max-height: 500px;
}
.opcao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}
@media  screen and ( max-width:700px) {
        .tabela{
            width: 90%;
            margin: 20px;
        }
}